<!-- section 1 -->
{{!-- <div class="section1">
    <h2>Curated List Page</h2>
</div> --}}

<!-- section 2 -->
{{!-- <div class="section2">
    <a href="/curatedList/model">Nosbisch chemotaxis 2020</a>
</div> --}}

{{!-- section 3 --}}

<h2 class="sectionHeading">Curated Models and Related ModelBricks</h2>

{{!-- searching form  --}}
<div class="searchForm subMenu">
    <form action="/curatedList/search" method="GET" id="custom-form" class="custom-form">
        <div class="custom-form__group">
            <input type="text" name="bmName" id="bmName" placeholder="BioModel name" value="{{bmName}}">
            <label class="group__label" for="name">Name</label>
        </div>
        <button type="submit" class="custom-form__submit">
            Search
            <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7" /></svg>
        </button>
    </form>
</div>

{{!-- Main sorting table  --}}
<div class="curatedListTable">


    <table id="content-table3" class="table-responsive-full sort-table">
        <thead>
            <tr>
                <th class="title">BioModel ID
                    <div class="sort-table-arrows">
                        <a href="javascript:sort(true, 'title', 'content-table3');"><button class="button"
                                title="down arrow"><i class="fa fa-chevron-down"></i></button></a>
                        <a href="javascript:sort(false, 'title', 'content-table3');"><button class="button"
                                title="up arrow"><i class="fa fa-chevron-up"></i></button></a>
                    </div>
                </th>
                <th class="composer">BioModel name
                    <div class="sort-table-arrows">
                        <a href="javascript:sort(true, 'composer', 'content-table3');"><button class="button"
                                title="down arrow"><i class="fa fa-chevron-down"></i></button></a>
                        <a href="javascript:sort(false, 'composer', 'content-table3');"><button class="button"
                                title="up arrow"><i class="fa fa-chevron-up"></i></button></a>
                    </div>
                </th>
                <th class="lyrics">Owner
                    <div class="sort-table-arrows">
                        <a href="javascript:sort(true, 'lyrics', 'content-table3');"><button class="button"
                                title="down arrow"><i class="fa fa-chevron-down"></i></button></a>
                        <a href="javascript:sort(false, 'lyrics', 'content-table3');"><button class="button"
                                title="up arrow"><i class="fa fa-chevron-up"></i></button></a>
                    </div>
                </th>
                <th class="set">Date Saved
                    <div class="sort-table-arrows">
                        <a href="javascript:sort(true, 'set', 'content-table3');"><button class="button"
                                title="down arrow"><i class="fa fa-chevron-down"></i></button></a>
                        <a href="javascript:sort(false, 'set', 'content-table3');"><button class="button"
                                title="up arrow"><i class="fa fa-chevron-up"></i></button></a>
                    </div>
                </th>
                <th class="arranger">"Applications" - Simulations</th>
            </tr>
        </thead>
        <tbody>
            {{#each inputData}}
            <tr>
                <td data-label="Title" class="title"><a
                        href="/curatedList/model/{{this.name}}#dashboard">{{this.bmKey}}</a></td>
                <td data-label="Composer" class="composer">{{trimString this.name}}</td>
                <td data-label="Lyrics" class="lyrics">{{this.ownerName}}</td>
                <td data-label="Set" class="set">{{toDate this.savedDate}}</td>
                {{#each this.simulations}}
                <td data-label="Arranger">"{{this.bioModelLink.simContextName}}" - {{this.name}}</td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>