<div class="section1">
    <h2>JSON Data</h2>
</div>
<div id="info">
    <h1>{{data.vcml.$.Version}}</h1>
</div>

<br>

{{!-- Model name  --}}
{{#each data.vcml.BioModel}}
<h1>{{this.$.Name}}</h1>
{{#ifvalue this.$.Name value="CM_PM25628036_MB3::Rho_GDP_GTP_exchange"}}
<h2>IF condition is working</h2>
{{/ifvalue}}
{{/each}}

{{#each data.vcml.BioModel}}
{{#each this.vcmetadata}}
{{#each this.nonrdfAnnotationList}}
{{#each this.nonrdfAnnotation}}
{{#ifvalue this.$.vcid value="ReactionStep(Effector_activation)"}}
<h2>{{this.freetext}}</h2>
{{/ifvalue}}
{{/each}}
{{/each}}
{{/each}}
{{/each}}

<br>
{{!-- Model annotation   --}}
{{#each data.vcml.BioModel}}
<h1>{{this.Annotation}}</h1>
{{/each}}

<br>
{{!-- Structure table  --}}
{{!-- ST name Membrane  --}}
{{#each data.vcml.BioModel}}
{{#each this.Model}}
{{#each this.Membrane}}
<h1>{{this.$.Name}}</h1>
{{/each}}
{{/each}}
{{/each}}

<br>
{{!-- ST name Compartment  --}}
{{#each data.vcml.BioModel}}
{{#each this.Model}}
{{#each this.Feature}}
<h1>{{this.$.Name}}</h1>
{{/each}}
{{/each}}
{{/each}}

<br>
{{!-- ST Membrane electrical polarity --}}
{{#each data.vcml.BioModel}}
{{#each this.Model}}
{{#each this.Membrane}}
<h1>{{this.$.PositiveFeature}}(+) &nbsp; {{this.$.NegativeFeature}}(-)</h1>
{{/each}}
{{/each}}
{{/each}}


<br>
{{!-- Species Table --}}
{{!-- Species name and structure --}}
{{#each data.vcml.BioModel}}
{{#each this.Model}}
{{#each this.LocalizedCompound}}
<h1>{{this.$.Name}} {{this.$.Structure}}</h1>
{{/each}}
{{/each}}
{{/each}}

<br>
{{!-- Reaction Table --}}
{{!-- Reaction name and structure --}}
{{#each data.vcml.BioModel}}
{{#each this.Model}}
{{#each this.SimpleReaction}}
<h1>{{this.$.Name}} {{this.$.Structure}}</h1>
{{/each}}
{{/each}}
{{/each}}

<br>
{{!-- Reaction Kinetics --}}
{{#each data.vcml.BioModel}}
{{#each this.Model}}
{{#each this.SimpleReaction}}
{{#each this.Kinetics}}
<h1>{{this.$.KineticsType}}</h1>
{{/each}}
{{/each}}
{{/each}}
{{/each}}

<br>
{{!-- Reaction Reactions --}}
{{#each data.vcml.BioModel}}
{{#each this.Model}}
{{#each this.SimpleReaction}}
{{#each this.Reactant}}
<h1>{{this.$.LocalizedCompoundRef}}</h1>
{{/each}}
{{#each this.Product}}
<h1>{{this.$.LocalizedCompoundRef}}</h1>
{{/each}}
{{/each}}
{{/each}}
{{/each}}

<br>
{{!-- Application  --}}
{{!-- application key and name  --}}
{{#each data.vcml.BioModel}}
{{#each this.SimulationSpec as |value key|}}
<h1>{{key}}</h1>
<h1>{{value.$.Name}}</h1>
<hr>
{{!-- specification table data except structure  --}}
{{#each value.ReactionContext}}
{{#each this.LocalizedCompoundSpec}}
<h1>{{this.$.LocalizedCompoundRef}}</h1>
{{/each}}
{{/each}}
{{/each}}
{{/each}}

{{!-- specification table data - structure  --}}

{{!-- reaction diagram  --}}
{{#each data.vcml.BioModel}}
{{#each this.Version}}
<h1>{{this.$.KeyValue}}</h1>
{{/each}}
{{/each}}

{{!-- parameter  --}}
{{#each data.vcml.BioModel}}
{{#each this.Model}}
{{#each this.ModelParameters}}
{{#each this.Parameter}}
<h1>{{this._}}</h1>
{{/each}}
{{/each}}
{{/each}}
{{/each}}