<div id="fade" class="popupOverlay"></div>
<div class="admin-panel clearfix">
    <div class="slidebar">
        <div class="logo">
            <a href=""></a>
        </div>
        <ul>
            <li class="drop">
                <a href="#dashboard" class="dropTitle"><i class="fa fa-folder-o static" aria-hidden="true"></i>
                    Physiology<i class="fa fa-angle-up dynamic"></i>
                </a>
                <ul class="subMenu active">
                    <li><a href="#dashboard" id="targeted"><i class="fa fa-picture-o static"
                                aria-hidden="true"></i>Reaction
                            Diagram</a></li>
                    <li><a href="#reactions"><i class="fa fa-flask static" aria-hidden="true"></i>Reactions</a>
                    </li>
                    <li><a href="#structures"><i class="fa fa-codepen static" aria-hidden="true"></i>Structures</a>
                    </li>
                    <li><a href="#species"><i class="fa fa-link static" aria-hidden="true"></i>
                            Species</a>
                    </li>
                    <li><a href="#molecules"><i class="fa fa-empire static" aria-hidden="true"></i>Molecules</a>
                    </li>
                    <li><a href="#observables"><i class="fa fa-eercast static" aria-hidden="true"></i>Observables</a>
                    </li>
                </ul>
            </li>
            <li class="drop">
                <a href="#applications" class="dropTitle"><i class="fa fa-folder-o static" aria-hidden="true"></i>
                    Applications <i class="fa fa-angle-down dynamic"></i>
                </a>
                <ul class="subMenu">
                    {{#each data.vcml.BioModel}}
                    {{#each this.SimulationSpec as |value key|}}
                    <li class="drop child">
                        <a href="#specifications{{key}}" class="dropTitle"><i class="fa fa-folder-o static"
                                aria-hidden="true"></i>
                            <span class="wordLimit">{{value.$.Name}}</span><i class="fa fa-angle-down dynamic"></i>
                        </a>
                        <ul class="subMenu">
                            <li><a href="#specifications{{key}}"><i class="fa fa-pencil-square-o static"
                                        aria-hidden="true"></i>Specifications</a></li>
                            <li><a href="#simulations{{key}}"><i class="fa fa-superpowers static"
                                        aria-hidden="true"></i>Simulations</a></li>
                        </ul>
                    </li>
                    {{/each}}
                    {{/each}}
                </ul>
            </li>
            <li class="drop">
                <a href="#global" class="dropTitle"><i class="fa fa-globe static" aria-hidden="true"></i>
                    Global Parameters
                </a>
            </li>
        </ul>
    </div>

    <div class="main">
        <ul class="topbar clearfix">
            {{#each data.vcml.BioModel}}
            {{#each this.Version}}
            <li><a id="modelName" href="#dashboard">{{trimString this.$.Name}} -
                    {{this.$.KeyValue}}</a></li>
            <li class="printable"><a href="/curatedList/printModel/{{this.$.KeyValue}}"><i class="fa fa-print"
                        aria-hidden="true"></i></a>
            </li>
            {{/each}}
            {{/each}}
        </ul>
        <!-- <div class="landingContent">
          <h2>Landing content</h2>
        </div> -->
        <div class="mainContent clearfix">
            <div id="physiology" class="optionData">
                <h2 class="header">Physiology</h2>

            </div>

            {{!-- Reaction Diagram  --}}
            <div id="dashboard" class="optionData">
                <h2 class="header"><span class="icon"></span>Reaction Diagram</h2>
                <div class="reactionDiagram" id="diagram">
                    {{#each data.vcml.BioModel}}
                    {{#each this.Version}}
                    <img src="https://vcellapi-beta.cam.uchc.edu:8080/biomodel/{{this.$.KeyValue}}/diagram"
                        alt="reactionDiagram" draggable="false" />
                    {{/each}}
                    {{/each}}

                </div>

                {{!--info Reaction Diagram--}}

                <div class="box-diagram">
                    <div class='textWrap'>
                        <div class="publications" id="globalPublications" onclick="test(BioModel)">
                            <h2>Cross-References</h2>

                        </div>
                        <div class="annotations" id="globalAnnotations">
                            <h2>Annotations</h2>
                        </div>
                    </div>
                </div>

                {{!-- popup --}}
            </div>

            {{!-- Rections Table  --}}
            <div id="reactions" class="optionData">
                <h2 class="header">Reactions</h2>
                <div class="modelTable">
                    <table id="content-table3" class="table-responsive-full sort-table">
                        <thead>
                            <tr>
                                <th class="Reactions">Reactions
                                    <div class="sort-table-arrows">
                                        <a href="javascript:sort(true, 'Reactions', 'content-table3');"><button
                                                class="button" title="down arrow"><i
                                                    class="fa fa-chevron-down"></i></button></a>
                                        <a href="javascript:sort(false, 'Reactions', 'content-table3');"><button
                                                class="button" title="up arrow"><i
                                                    class="fa fa-chevron-up"></i></button></a>
                                    </div>
                                </th>
                                <th class="Name">Name
                                    <div class="sort-table-arrows">
                                        <a href="javascript:sort(true, 'Name', 'content-table3');"><button
                                                class="button" title="down arrow"><i
                                                    class="fa fa-chevron-down"></i></button></a>
                                        <a href="javascript:sort(false, 'Name', 'content-table3');"><button
                                                class="button" title="up arrow"><i
                                                    class="fa fa-chevron-up"></i></button></a>
                                    </div>
                                </th>
                                <th class="Structure">Structure
                                    <div class="sort-table-arrows">
                                        <a href="javascript:sort(true, 'Structure', 'content-table3');"><button
                                                class="button" title="down arrow"><i
                                                    class="fa fa-chevron-down"></i></button></a>
                                        <a href="javascript:sort(false, 'Structure', 'content-table3');"><button
                                                class="button" title="up arrow"><i
                                                    class="fa fa-chevron-up"></i></button></a>
                                    </div>
                                </th>
                                <th class="Kinetics">Kinetics
                                    <div class="sort-table-arrows">
                                        <a href="javascript:sort(true, 'Kinetics', 'content-table3');"><button
                                                class="button" title="down arrow"><i
                                                    class="fa fa-chevron-down"></i></button></a>
                                        <a href="javascript:sort(false, 'Kinetics', 'content-table3');"><button
                                                class="button" title="up arrow"><i
                                                    class="fa fa-chevron-up"></i></button></a>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each data.vcml.BioModel}}
                            {{#each this.Model}}
                            {{#each this.SimpleReaction as |value key|}}
                            <tr>
                                <td data-label="Reactions" class="Reactions">
                                    {{#each value.Reactant}}
                                    {{nullCheck this.$.LocalizedCompoundRef}}
                                    {{/each}}
                                    <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                                    {{#each value.Product}}
                                    {{this.$.LocalizedCompoundRef}}
                                    {{/each}}
                                </td>
                                <td data-label="Name" class="Name"><a id={{value.$.Name}} onClick="reply_click(this.id)"
                                        style="cursor:pointer; color:#3EB9FE">{{value.$.Name}}</a></td>
                                <td data-label="Structure" class="Structure">{{value.$.Structure}}</td>
                                {{#each value.Kinetics}}
                                <td data-label="Kinetics" class="Kinetics"><a id="{{key}}"
                                        onClick="reply_click(this.id)"
                                        style="cursor:pointer; color:#3EB9FE">{{this.$.KineticsType}}</a></td>
                                {{/each}}</td>
                            </tr>

                            {{/each}}
                            {{/each}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                {{!-- popup reactions --}}
                {{#each data.vcml.BioModel}}
                {{#each this.Model}}
                {{#each this.SimpleReaction as |value key|}}
                <div class="popup box-{{value.$.Name}}">
                    <div class='popup-text'>
                        <h3>Element Name: <span>{{value.$.Name}}</span></h3>


                        {{!-- universal ID's  --}}
                        <div class="uid" id="reactionUID-{{value.$.Name}}">
                            <h2>Universal ID's</h2>
                        </div>
                        {{!-- annotation --}}
                        <div class="textAnnotation" id="reactionTA-{{value.$.Name}}">
                            <h2>Text Annotations</h2>
                        </div>


                    </div>
                    <a class='popup-close' href="#reactions"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
                {{/each}}
                {{/each}}
                {{/each}}
                {{!-- popup --}}
                {{!-- popup reactions Expressions--}}
                {{#each data.vcml.BioModel}}
                {{#each this.Model}}
                {{#each this.SimpleReaction as |value key|}}
                {{#each value.Kinetics}}
                <div class="popup box-{{key}}">
                    <div class='popup-text block'>
                        <h3>Element Name: <span>{{value.$.Name}}</span></h3>
                        {{!-- Expressions --}}
                        <h2 id="reactionNameExp">Expressions</h2>


                        {{#each this.Parameter}}

                        <div class="role">
                            <p class="role-title">{{this.$.Role}}</p>
                            <p class="role-text">{{this._}} <span class="unit">[{{this.$.Unit}}]</span> </p>
                        </div>
                        {{/each}}
                    </div>
                    <a class='popup-close' href="#reactions"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
                {{/each}}
                {{/each}}
                {{/each}}
                {{/each}}
                {{!-- popup --}}
            </div>

            {{!-- Structures Table  --}}
            <div id="structures" class="optionData">
                <h2 class="header">Structures</h2>
                <div class="modelTable">
                    <table id="content-table3" class="table-responsive-full sort-table">
                        <thead>
                            <tr>
                                <th class="Name">Name
                                    <div class="sort-table-arrows">
                                        <a href="javascript:sort(true, 'Name', 'content-table3');"><button
                                                class="button" title="down arrow"><i
                                                    class="fa fa-chevron-down"></i></button></a>
                                        <a href="javascript:sort(false, 'Name', 'content-table3');"><button
                                                class="button" title="up arrow"><i
                                                    class="fa fa-chevron-up"></i></button></a>
                                    </div>
                                </th>
                                <th class="Type">Type
                                    <div class="sort-table-arrows">
                                        <a href="javascript:sort(true, 'Type', 'content-table3');"><button
                                                class="button" title="down arrow"><i
                                                    class="fa fa-chevron-down"></i></button></a>
                                        <a href="javascript:sort(false, 'Type', 'content-table3');"><button
                                                class="button" title="up arrow"><i
                                                    class="fa fa-chevron-up"></i></button></a>
                                    </div>
                                </th>
                                <th class="Electrical">Electrical
                                    <div class="sort-table-arrows">
                                        <a href="javascript:sort(true, 'Electrical', 'content-table3');"><button
                                                class="button" title="down arrow"><i
                                                    class="fa fa-chevron-down"></i></button></a>
                                        <a href="javascript:sort(false, 'Electrical', 'content-table3');"><button
                                                class="button" title="up arrow"><i
                                                    class="fa fa-chevron-up"></i></button></a>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each data.vcml.BioModel}}
                            {{#each this.Model}}
                            {{#each this.Membrane}}
                            <tr>
                                <td data-label="Name" class="Name"><a id={{this.$.Name}} onClick="reply_click(this.id)"
                                        style="cursor:pointer; color:#3EB9FE">{{this.$.Name}}</a></td>
                                <td data-label="Type" class="Type">Membrane</td>
                                <td data-label="Electrical" class="Electrical">
                                    {{this.$.PositiveFeature}}(+) &nbsp; {{this.$.NegativeFeature}}(-)
                                </td>
                            </tr>

                            {{/each}}
                            {{#each this.Feature}}
                            <tr>
                                <td data-label="Name" class="Name"><a id={{this.$.Name}} onClick="reply_click(this.id)"
                                        style="cursor:pointer; color:#3EB9FE">{{this.$.Name}}</a></td>
                                <td data-label="Type" class="Type">Compartment</td>
                                <td data-label="Electrical" class="Electrical">
                                    {{this.$.PositiveFeature}}(+) &nbsp; {{this.$.NegativeFeature}}(-)
                            </tr>
                            {{/each}}
                            {{/each}}
                            {{/each}}


                        </tbody>
                    </table>
                </div>

                {{!-- popup structures membrane--}}
                {{#each data.vcml.BioModel}}
                {{#each this.Model}}
                {{#each this.Membrane as |value key|}}
                <div class="popup box-{{value.$.Name}}">
                    <div class='popup-text'>
                        <h3>Element Name: <span>{{value.$.Name}}</span></h3>

                        {{!-- universal ID's  --}}
                        <div class="uid" id="structureUID-{{value.$.Name}}">
                            <h2>Universal ID's</h2>
                        </div>
                        {{!-- annotation --}}
                        <div class="textAnnotation" id="structureTATA-{{value.$.Name}}">
                            <h2>Text Annotations</h2>
                        </div>

                    </div>
                    <a class='popup-close' href="#reactions"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
                {{/each}}
                {{/each}}
                {{/each}}
                {{!-- popup --}}

                {{!-- popup structures features --}}
                {{#each data.vcml.BioModel}}
                {{#each this.Model}}
                {{#each this.Feature as |value key|}}
                <div class="popup box-{{value.$.Name}}">
                    <div class='popup-text'>
                        <h3>Element Name: <span>{{value.$.Name}}</span></h3>

                        {{!-- universal ID's  --}}
                        <div class="uid" id="structureUID-{{value.$.Name}}">
                            <h2>Universal ID's</h2>
                        </div>
                        {{!-- annotation --}}
                        <div class="textAnnotation" id="structureTATA-{{value.$.Name}}">
                            <h2>Text Annotations</h2>
                        </div>


                    </div>
                    <a class='popup-close' href="#reactions"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
                {{/each}}
                {{/each}}
                {{/each}}
                {{!-- popup --}}
            </div>

            {{!-- Species table  --}}
            <div id="species" class="optionData">
                <h2 class="header">Species</h2>
                <div class="modelTable">
                    <table id="content-table3" class="table-responsive-full sort-table">
                        <thead>
                            <tr>
                                <th class="Name">Name
                                    <div class="sort-table-arrows">
                                        <a href="javascript:sort(true, 'Name', 'content-table3');"><button
                                                class="button" title="down arrow"><i
                                                    class="fa fa-chevron-down"></i></button></a>
                                        <a href="javascript:sort(false, 'Name', 'content-table3');"><button
                                                class="button" title="up arrow"><i
                                                    class="fa fa-chevron-up"></i></button></a>
                                    </div>
                                </th>
                                <th class="Structure">Structure
                                    <div class="sort-table-arrows">
                                        <a href="javascript:sort(true, 'Structure', 'content-table3');"><button
                                                class="button" title="down arrow"><i
                                                    class="fa fa-chevron-down"></i></button></a>
                                        <a href="javascript:sort(false, 'Structure', 'content-table3');"><button
                                                class="button" title="up arrow"><i
                                                    class="fa fa-chevron-up"></i></button></a>
                                    </div>
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            {{#each data.vcml.BioModel}}
                            {{#each this.Model}}
                            {{#each this.LocalizedCompound}}
                            <tr>
                                <td data-label="Name" class="Name"><a id={{this.$.Name}} onClick="reply_click(this.id)"
                                        style="cursor:pointer; color:#3EB9FE">{{this.$.Name}}</a></td>
                                <td data-label="Structure" class="Structure">{{this.$.Structure}}</td>
                            </tr>
                            {{/each}}
                            {{/each}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                {{!-- popup Species --}}
                {{#each data.vcml.BioModel}}
                {{#each this.Model}}
                {{#each this.LocalizedCompound as |value key|}}
                <div class="popup box-{{value.$.Name}}">
                    <div class='popup-text'>
                        <h3>Element Name: <span>{{value.$.Name}}</span></h3>

                        {{!-- universal ID's  --}}
                        <div class="uid" id="speciesUID-{{value.$.Name}}">
                            <h2>Universal ID's</h2>
                        </div>
                        {{!-- annotation --}}
                        <div class="textAnnotation" id="speciesTA-{{value.$.Name}}">
                            <h2>Text Annotations</h2>
                        </div>

                    </div>
                    <a class='popup-close' href="#reactions"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
                {{/each}}
                {{/each}}
                {{/each}}
                {{!-- popup --}}
            </div>

            {{!-- Molecules table  --}}
            <div id="molecules" class="optionData">
                <h2 class="header">Molecules</h2>
                <div class="modelTable">
                    <table id="content-table3" class="table-responsive-full sort-table">
                        <thead>
                            <tr>
                                <th class="Name">Name
                                    <div class="sort-table-arrows">
                                        <a href="javascript:sort(true, 'Name', 'content-table3');"><button
                                                class="button" title="down arrow"><i
                                                    class="fa fa-chevron-down"></i></button></a>
                                        <a href="javascript:sort(false, 'Name', 'content-table3');"><button
                                                class="button" title="up arrow"><i
                                                    class="fa fa-chevron-up"></i></button></a>
                                    </div>
                                </th>
                                <th class="Description">Description
                                    <div class="sort-table-arrows">
                                        <a href="javascript:sort(true, 'Description', 'content-table3');"><button
                                                class="button" title="down arrow"><i
                                                    class="fa fa-chevron-down"></i></button></a>
                                        <a href="javascript:sort(false, 'Description', 'content-table3');"><button
                                                class="button" title="up arrow"><i
                                                    class="fa fa-chevron-up"></i></button></a>
                                    </div>
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            {{#each data.vcml.BioModel}}
                            {{#each this.Model}}
                            {{#each this.RbmModelContainer}}
                            {{#each this.MolecularTypeList}}
                            {{#each this.MolecularType}}

                            <tr>
                                <td data-label="Name" class="Name"><a id={{this.$.Name}} onClick="reply_click(this.id)"
                                        style="cursor:pointer; color:#3EB9FE">{{this.$.Name}}</a></td>

                                <td data-label="Description" class="Description">
                                    {{this.$.Name}}
                                    ({{#each this.MolecularComponent}}
                                    {{this.$.Name}}
                                    {{#if this.AllowableState}}
                                    {{#each this.AllowableState}}
                                    ~{{this.$.Name}}
                                    {{/each}}
                                    {{/if}}
                                    {{/each}})
                                </td>
                            </tr>
                            {{/each}}
                            {{/each}}
                            {{/each}}
                            {{/each}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                {{!-- popup Molucules --}}
                {{#each data.vcml.BioModel}}
                {{#each this.Model}}
                {{#each this.RbmModelContainer}}
                {{#each this.MolecularTypeList}}
                {{#each this.MolecularType as |value key|}}
                <div class="popup box-{{value.$.Name}}">
                    <div class='popup-text'>
                        <h3>Element Name: <span>{{value.$.Name}}</span></h3>

                        {{!-- universal ID's  --}}
                        <div class="uid" id="moleculesUID-{{value.$.Name}}">
                            <h2>Universal ID's</h2>
                        </div>
                        {{!-- annotation --}}
                        <div class="textAnnotation" id="moleculeTA-{{value.$.Name}}">
                            <h2>Text Annotations</h2>
                        </div>

                    </div>
                    <a class='popup-close' href="#reactions"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
                {{/each}}
                {{/each}}
                {{/each}}
                {{/each}}
                {{/each}}
                {{!-- popup --}}
            </div>

            {{!-- Observables table  --}}
            <div id="observables" class="optionData">
                <h2 class="header">Observables</h2>
                <div class="modelTable">
                    <table id="content-table3" class="table-responsive-full sort-table">
                        <thead>
                            <tr>
                                <th class="Name">Name
                                    <div class="sort-table-arrows">
                                        <a href="javascript:sort(true, 'Name', 'content-table3');"><button
                                                class="button" title="down arrow"><i
                                                    class="fa fa-chevron-down"></i></button></a>
                                        <a href="javascript:sort(false, 'Name', 'content-table3');"><button
                                                class="button" title="up arrow"><i
                                                    class="fa fa-chevron-up"></i></button></a>
                                    </div>
                                </th>
                                <th class="Type">Type
                                    <div class="sort-table-arrows">
                                        <a href="javascript:sort(true, 'Type', 'content-table3');"><button
                                                class="button" title="down arrow"><i
                                                    class="fa fa-chevron-down"></i></button></a>
                                        <a href="javascript:sort(false, 'Type', 'content-table3');"><button
                                                class="button" title="up arrow"><i
                                                    class="fa fa-chevron-up"></i></button></a>
                                    </div>
                                </th>
                                <th class="BioNetGen">BioNetGen Defination
                                    <div class="sort-table-arrows">
                                        <a href="javascript:sort(true, 'BioNetGen', 'content-table3');"><button
                                                class="button" title="down arrow"><i
                                                    class="fa fa-chevron-down"></i></button></a>
                                        <a href="javascript:sort(false, 'BioNetGen', 'content-table3');"><button
                                                class="button" title="up arrow"><i
                                                    class="fa fa-chevron-up"></i></button></a>
                                    </div>
                                </th>
                                <th class="Count">Count
                                    <div class="sort-table-arrows">
                                        <a href="javascript:sort(true, 'Count', 'content-table3');"><button
                                                class="button" title="down arrow"><i
                                                    class="fa fa-chevron-down"></i></button></a>
                                        <a href="javascript:sort(false, 'Count', 'content-table3');"><button
                                                class="button" title="up arrow"><i
                                                    class="fa fa-chevron-up"></i></button></a>
                                    </div>
                                </th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td data-label="Name" class="Name">Name</td>
                                <td data-label="Type" class="Type">Type</td>
                                <td data-label="BioNetGen" class="BioNetGen">BioNetGen Defination</td>
                                <td data-label="Count" class="Count">Count</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            {{!-- Applications Table  --}}
            <div id="applications" class="optionData">
                <h2 class="header">Applications</h2>
                <div class="modelTable">
                    <table id="content-table3" class="table-responsive-full sort-table">
                        <thead>
                            <tr>
                                <th class="Name">Name
                                    <div class="sort-table-arrows">
                                        <a href="javascript:sort(true, 'Name', 'content-table3');"><button
                                                class="button" title="down arrow"><i
                                                    class="fa fa-chevron-down"></i></button></a>
                                        <a href="javascript:sort(false, 'Name', 'content-table3');"><button
                                                class="button" title="up arrow"><i
                                                    class="fa fa-chevron-up"></i></button></a>
                                    </div>
                                </th>
                                <th class="properties">Properties
                                </th>
                                <th class="Type">Math Type
                                    <div class="sort-table-arrows">
                                        <a href="javascript:sort(true, 'Type', 'content-table3');"><button
                                                class="button" title="down arrow"><i
                                                    class="fa fa-chevron-down"></i></button></a>
                                        <a href="javascript:sort(false, 'Type', 'content-table3');"><button
                                                class="button" title="up arrow"><i
                                                    class="fa fa-chevron-up"></i></button></a>
                                    </div>
                                </th>
                                <th class="Annotation">Annotation
                                    <div class="sort-table-arrows">
                                        <a href="javascript:sort(true, 'Annotation', 'content-table3');"><button
                                                class="button" title="down arrow"><i
                                                    class="fa fa-chevron-down"></i></button></a>
                                        <a href="javascript:sort(false, 'Annotation', 'content-table3');"><button
                                                class="button" title="up arrow"><i
                                                    class="fa fa-chevron-up"></i></button></a>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            {{#each data.vcml.BioModel}}
                            {{#each this.SimulationSpec as |value key|}}
                            <tr>
                                <td data-label="Name" class="Name"><a id={{this.$.Name}} onClick="reply_click(this.id)"
                                        style="cursor:pointer; color:#3EB9FE">{{this.$.Name}}</a></td>
                                <td data-label="Name" class="Name">
                                    <a href="#specifications{{key}}"
                                        style="cursor:pointer; color:#3EB9FE">Specifications</a>
                                    <a href="#simulations{{key}}" style="cursor:pointer; color:#3EB9FE">Simulations</a>
                                </td>
                                <td data-label="Type" class="Type"></td>
                                <td data-label="Annotation" class="Annotation">{{value.Annotation}}</td>
                            </tr>

                            {{/each}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                {{!-- popup applications --}}
                {{#each data.vcml.BioModel}}
                {{#each this.SimulationSpec as |value key|}}
                <div class="popup box-{{value.$.Name}}">
                    <div class='popup-text'>
                        <h3>Element Name: <span>{{value.$.Name}}</span></h3>

                        {{!-- annotation --}}
                        <h2>Text Annotations</h2>
                        <p>Annotations will come here</p>

                        {{!-- universal ID's  --}}
                        <h2>Universal ID's</h2>
                        <p>RFID | pubmed</p>

                    </div>
                    <a class='popup-close' href="#reactions"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
                {{/each}}
                {{/each}}

                {{!-- popup --}}
            </div>

            {{!-- for each application  --}}
            {{#each data.vcml.BioModel}}
            {{#each this.SimulationSpec as |value key|}}

            {{!-- specifications table  --}}
            <div id="specifications{{key}}" class="optionData">
                <h2 class="header">Specifications - {{value.$.Name}} <span class="propertyBtn"><a
                            href="#simulations{{key}}">go to
                            Simulations</a></span> </h2>
                <div class="modelTable">
                    <table id="content-table3" class="table-responsive-full sort-table">
                        <thead>
                            <tr>
                                <th class="Species">Species
                                    <div class="sort-table-arrows">
                                        <a href="javascript:sort(true, 'Species', 'content-table3');"><button
                                                class="button" title="down arrow"><i
                                                    class="fa fa-chevron-down"></i></button></a>
                                        <a href="javascript:sort(false, 'Species', 'content-table3');"><button
                                                class="button" title="up arrow"><i
                                                    class="fa fa-chevron-up"></i></button></a>
                                    </div>
                                </th>

                                <th class="Initial">Initial Condition
                                    <div class="sort-table-arrows">
                                        <a href="javascript:sort(true, 'Initial', 'content-table3');"><button
                                                class="button" title="down arrow"><i
                                                    class="fa fa-chevron-down"></i></button></a>
                                        <a href="javascript:sort(false, 'Initial', 'content-table3');"><button
                                                class="button" title="up arrow"><i
                                                    class="fa fa-chevron-up"></i></button></a>
                                    </div>
                                </th>
                                <th class="Diffusion">Diffusion Constant
                                    <div class="sort-table-arrows">
                                        <a href="javascript:sort(true, 'Diffusion', 'content-table3');"><button
                                                class="button" title="down arrow"><i
                                                    class="fa fa-chevron-down"></i></button></a>
                                        <a href="javascript:sort(false, 'Diffusion', 'content-table3');"><button
                                                class="button" title="up arrow"><i
                                                    class="fa fa-chevron-up"></i></button></a>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            {{#each value.ReactionContext}}
                            {{#each this.LocalizedCompoundSpec}}
                            <tr>
                                <td data-label="Species" class="Species"><a id={{this.$.LocalizedCompoundRef}}
                                        onClick="reply_click(this.id)"
                                        style="cursor:pointer; color:#3EB9FE">{{this.$.LocalizedCompoundRef}}<i
                                            class="fa fa-info"
                                            style="margin-left:10px; color:#333; opacity:0.4; font-size: 0.7em;"
                                            aria-hidden="true"></i></a></td>
                                <td data-label="Initial" class="Initial">{{this.InitialConcentration}}</td>
                                <td data-label="Diffusion" class="Diffusion">{{this.Diffusion}}</td>
                            </tr>

                            {{/each}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                {{!-- popup specifications   --}}
                {{#each value.ReactionContext}}
                {{#each this.LocalizedCompoundSpec}}
                <div class="popup box-{{this.$.LocalizedCompoundRef}}">
                    <div class='popup-text'>
                        <h3>Element Name: <span>{{this.$.LocalizedCompoundRef}}</span></h3>

                        {{!-- annotation --}}
                        <h2>Text Annotations</h2>
                        <p>Annotations will come here</p>

                        {{!-- universal ID's  --}}
                        <h2>Universal ID's</h2>
                        <p>RFID | pubmed</p>

                    </div>
                    <a class='popup-close' href="#reactions"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
                {{/each}}
                {{/each}}
                {{!-- popup specifications   --}}
            </div>

            {{!-- simulations table  --}}
            <div id="simulations{{key}}" class="optionData">
                <h2 class="header">Simulations - {{value.$.Name}} <span class="propertyBtn"><a
                            href="#specifications{{key}}">go to
                            Specifications</a></span></h2>
                <div class="modelTable">
                    <table id="content-table3" class="table-responsive-full sort-table">
                        <thead>
                            <tr>
                                <th class="Name">Name
                                    <div class="sort-table-arrows">
                                        <a href="javascript:sort(true, 'Name', 'content-table3');"><button
                                                class="button" title="down arrow"><i
                                                    class="fa fa-chevron-down"></i></button></a>
                                        <a href="javascript:sort(false, 'Name', 'content-table3');"><button
                                                class="button" title="up arrow"><i
                                                    class="fa fa-chevron-up"></i></button></a>
                                    </div>
                                </th>
                                <th class="endTime">End Time
                                    <div class="sort-table-arrows">
                                        <a href="javascript:sort(true, 'endTime', 'content-table3');"><button
                                                class="button" title="down arrow"><i
                                                    class="fa fa-chevron-down"></i></button></a>
                                        <a href="javascript:sort(false, 'endTime', 'content-table3');"><button
                                                class="button" title="up arrow"><i
                                                    class="fa fa-chevron-up"></i></button></a>
                                    </div>
                                </th>
                                <th class="Output">Output Options
                                    <div class="sort-table-arrows">
                                        <a href="javascript:sort(true, 'Output', 'content-table3');"><button
                                                class="button" title="down arrow"><i
                                                    class="fa fa-chevron-down"></i></button></a>
                                        <a href="javascript:sort(false, 'Output', 'content-table3');"><button
                                                class="button" title="up arrow"><i
                                                    class="fa fa-chevron-up"></i></button></a>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each value.Simulation}}
                            <tr>
                                <td data-label="Name" class="Name"><a id={{this.$.Name}} onClick="reply_click(this.id)"
                                        style="cursor:pointer; color:#3EB9FE">{{this.$.Name}}</a></td>
                                {{#each this.SolverTaskDescription}}
                                {{#each this.TimeBound}}
                                <td data-label="endTime" class="endTime">{{ this.$.EndTime}}
                                </td>
                                {{/each}}
                                {{#each this.OutputOptions}}
                                <td data-label="Output" class="Output">every {{ this.$.OutputTimeStep}}</td>
                                {{/each}}
                                {{/each}}
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                {{!-- popup simulations   --}}
                {{#each value.Simulation}}
                <div class="popup box-{{this.$.Name}}">
                    <div class='popup-text'>
                        <h3>Element Name: <span>{{this.$.Name}}</span></h3>

                        {{!-- annotation --}}
                        <h2>Text Annotations</h2>
                        <p>Annotations will come here</p>

                        {{!-- universal ID's  --}}
                        <h2>Universal ID's</h2>
                        <p>RFID | pubmed</p>

                    </div>
                    <a class='popup-close' href="#reactions"><i class="fa fa-window-close" aria-hidden="true"></i></a>
                </div>
                {{/each}}
                {{!-- popup simulations   --}}
            </div>
            {{/each}}
            {{/each}}

            <div id="global" class="optionData">
                <h2 class="header">Global Parameters</h2>
                <div class="modelTable">
                    <table id="content-table3" class="table-responsive-full sort-table">
                        <thead>
                            <tr>
                                <th class="Name globalParameterName">Name
                                    <div class="sort-table-arrows">
                                        <a href="javascript:sort(true, 'Name', 'content-table3');"><button
                                                class="button" title="down arrow"><i
                                                    class="fa fa-chevron-down"></i></button></a>
                                        <a href="javascript:sort(false, 'Name', 'content-table3');"><button
                                                class="button" title="up arrow"><i
                                                    class="fa fa-chevron-up"></i></button></a>
                                    </div>
                                </th>
                                <th class="Expression">Expression
                                    <div class="sort-table-arrows">
                                        <a href="javascript:sort(true, 'Expression', 'content-table3');"><button
                                                class="button" title="down arrow"><i
                                                    class="fa fa-chevron-down"></i></button></a>
                                        <a href="javascript:sort(false, 'Expression', 'content-table3');"><button
                                                class="button" title="up arrow"><i
                                                    class="fa fa-chevron-up"></i></button></a>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each data.vcml.BioModel}}
                            {{#each this.Model}}
                            {{#each this.ModelParameters}}
                            {{#each this.Parameter}}
                            <tr>
                                <td data-label="Name" class="Name">{{this.$.Name}}</td>
                                <td data-label="Expression" class="Expression">{{this._}}<span
                                        class="unit">[{{this.$.Unit}}]</span></td>
                            </tr>
                            {{/each}}
                            {{/each}}
                            {{/each}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>



<script>
    // making the first popup visible 
    var firstPopup = document.querySelector(".popup").firstChild;
    firstPopup.parentElement.classList.add("firstPopup");


    // Open popup
    var open = 1;
    function reply_click(clicked_id) {
        if (open == 1) {
            $(".popup").css("opacity", 0);
            $(".overlay").css("opacity", 0);
            $(".popup").css("display", "none");
            $(".overlay").css("display", "none");
        }
        $(`.box-${clicked_id}`).css("opacity", 1);
        $(".overlay").css("opacity", 0.8);
        $(`.box-${clicked_id}`).css("display", "block");
        $(".overlay").css("display", "block");
        open = 1;
    };
    // close popup
    $(".popup-close").click(function () {
        open = 0;
        $(".popup").css("opacity", 0);
        $(".overlay").css("opacity", 0);
        setTimeout(function () {
            $(".popup").css("display", "none");
            $(".overlay").css("display", "none");
        }, 1000);
    });

</script>

<script src="/js/json.js"></script>

<script>
    alerting = (variable) => {
        console.log("alert is on");
        console.log(variable);
    }
</script>